<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,160}</string>
                <key>spriteSourceSize</key>
                <string>{259,160}</string>
                <key>textureRect</key>
                <string>{{1537,311},{259,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,322}</string>
                <key>spriteSourceSize</key>
                <string>{308,322}</string>
                <key>textureRect</key>
                <string>{{1537,1},{308,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,296}</string>
                <key>spriteSourceSize</key>
                <string>{557,296}</string>
                <key>textureRect</key>
                <string>{{1239,1},{557,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,393}</string>
                <key>spriteSourceSize</key>
                <string>{424,393}</string>
                <key>textureRect</key>
                <string>{{1497,560},{424,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,458}</string>
                <key>spriteSourceSize</key>
                <string>{510,458}</string>
                <key>textureRect</key>
                <string>{{1,592},{510,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{589,449}</string>
                <key>spriteSourceSize</key>
                <string>{589,449}</string>
                <key>textureRect</key>
                <string>{{1,1},{589,449}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,440}</string>
                <key>spriteSourceSize</key>
                <string>{557,440}</string>
                <key>textureRect</key>
                <string>{{452,1},{557,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,345}</string>
                <key>spriteSourceSize</key>
                <string>{557,345}</string>
                <key>textureRect</key>
                <string>{{461,560},{557,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,345}</string>
                <key>spriteSourceSize</key>
                <string>{557,345}</string>
                <key>textureRect</key>
                <string>{{808,560},{557,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,343}</string>
                <key>spriteSourceSize</key>
                <string>{557,343}</string>
                <key>textureRect</key>
                <string>{{894,1},{557,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boom9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,340}</string>
                <key>spriteSourceSize</key>
                <string>{557,340}</string>
                <key>textureRect</key>
                <string>{{1155,560},{557,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1891,1118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1680409d9cc657c1de2de73eab8cb74:43e72981afc4f71ab98e5e0a2d352999:c7959a2c2b0200a771aebd49497ea089$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
